.modal {
    display: block;
    background-color: #00000044;
}

.messages-bin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 30px;
}

.upload-image {
    width: 200px;
    height: auto;
}

.list-image {
    height: 150px;
    width: auto;
}