body {
    font-family: 'K2D', sans-serif;
}

.messages-bin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
}

.li-bin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .li-bin-buttons {
        display: flex;
        gap: 10px;
    }
}

// BUTTONS
$danger: #f8d7da;
$info: #d1ecf1;
$prim: #cce5ff;
.btn-danger {
    color: black;
    background-color: $danger;
    border-color: darken($danger, 10);
    &:hover {
        color: black;
        background-color: lighten($danger, 5);
        border-color: $danger;
    }
    &:disabled {
        color: black;
        background-color: lightgrey;
        border-color: darken(lightgrey, 10);
    }
}

.btn-info {
    color: black;
    background-color: $info;
    border-color: darken($info, 10);
    &:hover {
        color: black;
        background-color: lighten($info, 5);
        border-color: $info;
    }
    &:disabled {
        color: black;
        background-color: lightgrey;
        border-color: darken(lightgrey, 10);
    }
}

.btn-primary {
    color: black;
    background-color: $prim;
    border-color: darken($prim, 10);
    &:hover {
        color: black;
        background-color: lighten($prim, 5);
        border-color: $prim;
    }
    &:disabled {
        color: black;
        background-color: lightgrey;
        border-color: darken(lightgrey, 10);
    }
}