.modal {
    display: block;
    background-color: #00000044;
}

.messages-bin {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light .nav-link {
    cursor: pointer;
    &.active {
        color: skyblue;
    }
}

.nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home {
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    letter-spacing: 50px;
    font-weight: 100;
    color: skyblue;
}