.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkcyan;
    h6 {
        font-weight: 100;
    }
}