.dices {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left {
            padding-top: 50px;
            margin: 0 15px;
        }
        .right {
            padding-top: 50px;
            margin: 0 15px;
            .list {
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                flex-direction: row;
                flex-wrap: wrap;
                border: 1px solid #87ceeb50;
                .item {
                    width: 322px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    height: 288px;
                    margin: 20px 0;
                    position: relative;
                }
            }
        }
    }
    .title {
        border: 1px solid #87ceeb50;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #87ceeb;
        font-size: 30px;
        text-align: center;
        color: white;
    }
    .dice-edit-create {
        display: flex;
        border: 1px solid #87ceeb50;
        padding: 15px;
        border-radius: 10px;
        flex-direction: column;
        width: 300px;
        &.create {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        &.edit {
            position: absolute;
            left: -24px;
            top: -15px;
            background-color: #282c34;
        }
        .top {
            display: flex;
            .dice-bin {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 70%;
                .dice-frame {
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .bottom {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            label {
                text-align: center;
                color: white;
                font-size: 26px;
                width: 60px;
                text-align: center;
                background-color: skyblue;
                border-radius: 5px;
                height: 35px;
            }
        }
    }
    .dice {
        color: white;
        font-size: 100px;
        line-height: 1;
        width: 160px;
        height: 200px;
        border: 1px solid #36383c;
        border-radius: 15px;
        box-shadow: 5px 5px #36383c55;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            display: block;
            position: relative;
            top: -12px;
        }
        &._1::after {
            content: '\2680';
        }
        &._2::after {
            content: '\2681';
        }
        &._3::after {
            content: '\2682';
        }
        &._4::after {
            content: '\2683';
        }
        &._5::after {
            content: '\2684';
        }
        &._6::after {
            content: '\2685';
        }
    }
    .cb-bin {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-start;
        label.cb {
            font-size: 1.1em;
            line-height: 2;
            cursor: pointer;
            user-select: none;
            color: darkgrey;
            padding: 4px 7px;
        }
        input {
            display: none;
        }
        input:checked+label.cb {
            color: white;
            background-color: skyblue;
            border-radius: 5px;
            padding: 7px;
        }
    }
    .rotate {
        transform: rotate(-90deg);
        position: relative;
        height: 30px;
        width: 30px;
    }
    .input-bin {
        width: 100%;
        &.range {
            position: relative;
            left: -175px;
            input {
                width: 200px;
                appearance: none;
                height: 6px;
                border-radius: 3px;
                background: skyblue;
                cursor: pointer;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: 5px solid white;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: skyblue;
                    cursor: pointer;
                }
            }
        }
        &.color {
            width: auto;
            input {
                background-color: transparent;
                appearance: none;
                width: 80px;
                height: 35px;
                border: none;
                cursor: pointer;
                position: relative;
                &::-webkit-color-swatch {
                    width: 80px;
                    height: 35px;
                    border-radius: 5px;
                    border: none;
                }
                &::after {
                    content: 'color';
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 1;
                    top: 5px;
                    left: 0;
                    width: 80px;
                    height: 35px;
                    letter-spacing: 3px;
                    font-size: 22px;
                }
            }
        }
    }
}

.loader {
    text-align: center;
    color: white;
    font-size: 100px;
}

.delete-button {
    &::after {
        content: '\2718';
        color: crimson;
        font-size: 26px;
        line-height: 1;
        display: block;
        cursor: pointer;
        padding: 0 0 0 20px;
    }
}

.edit-button {
    &::after {
        content: '\205D';
        color: skyblue;
        font-size: 26px;
        line-height: 1;
        display: block;
        cursor: pointer;
        padding: 0 0 0 20px;
    }
}

.delete-modal {
    position: absolute;
    left: -65px;
    top: -10px;
    width: 300px;
    height: 50px;
    background-color: crimson;
    z-index: 200;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 7px;
    box-sizing: border-box;
    border-radius: 5px;
    span {
        display: block;
        font-size: 30px;
        cursor: pointer;
        margin-left: 20px;
        padding: 0 10px;
        border: 1px solid white;
    }
}

.messages {
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 200px;
        border-radius: 5px;
        margin: 10px;
        color: white;
        background-color: gray;
        padding: 10px 30px;
        &.ok {
            background-color: darkseagreen;
        }
        &.error {
            background-color: deeppink;
        }
    }
}

// ---------------------BUTTON
$butonBlue: skyblue;
$butonGray: gray;
$butonRed: crimson;
$butonCoral: coral;
button {
    display: inline-block;
    user-select: none;
    padding: 7px;
    margin: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1em;
    border: none;
    outline: none;
    text-align: center;
    transition: all 0.2s;
    text-transform: uppercase;
    background-color: $butonGray;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: darken($butonGray, 20%);
    }
    &.blue {
        background-color: $butonBlue;
        color: white;
        &:hover {
            background-color: darken($butonBlue, 20%);
        }
    }
    &.red {
        background-color: $butonRed;
        color: white;
        &:hover {
            background-color: darken($butonRed, 20%);
        }
    }
    &.coral {
        background-color: $butonCoral;
        color: white;
        &:hover {
            background-color: darken($butonCoral, 20%);
        }
    }
    &.small {
        padding: 2px 3px;
        margin: 2px 3px;
        font-size: 20px;
        border-radius: 5px;
    }
}